body {
    background-color: lightgray;
}


.titulo {
    position:absolute;
    font-family: Righteous; 
    color: white; 
    font-size: 44px;
    margin-left: 21px; 
    margin-top: 8px;
}

.subtitulo {
    position: absolute;
    margin-left: 21px;
    margin-top: 53px;
    font-family: Roboto; 
    color: white; 
    font-size: 18px;
}

.topics {
    position: absolute;
    margin-left: 19px;
    color: 333333;
    font-size: 26px;
    font-family: Righteous;

}

.buybutton {
    width: 364px;
    height: 61px;
    background-color: #8a8585;
    left: 25px;
    top: 15px;
    border-radius: 50px;
    font-family: Roboto;
    text-align: center;
    color: white;
    position: absolute;
    font-size: 20px;

}

.foods {
    display: flex;
    position: relative;
    height: 216px;
    background-color: white;
    overflow-x: scroll;
}

.dish {
    width: 172px;
    height: 100%;
    margin-left: 17px;
    background-color: white;
    flex-shrink: 0;
    align-items: center;
}

.dish img {
    width: 144px;
    height: 87px;
    margin-top: 18px;
    margin-left: 14px;
    border-radius: 4px;
}

.dish p {
    margin-left: 14px;
    font-family: Roboto;
}

.dishbutton {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: auto;
    width: 172px;
    height: 100%;
    border-radius: 9px;
    border-width: 5px;
    border-style: solid;
    border-color: #32B72F;
    opacity: 0;
}

.dishbutton ion-icon{
    width: 18px;
    height: 18px;
    color: #32B72F;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.ativo {
    opacity: 1;
}

.buybuttona {
    position: absolute;
    width: 364px;
    height: 61px;
    background-color: #32B72F;
    border-radius: 50px;
    font-family: Roboto;
    text-align: center;
    color: white;
    position: absolute;
    font-size: 20px;
    border-style: none;
    bottom: 0px;
    left: 0px;
    opacity: 0;

}

.buybativo {
    opacity: 1;
}

.telafinal {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    width: 414px;
    height: 1125px;
    background-color: white;
    z-index: 50;
}

.telafinal div {
    position: absolute;
    left: 18px;
    top: 15%;
    width: 377px;
    height: 353px;
    border-radius: 9px;
    background-color: #50D074;
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.telafinal button {
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
}

.hide {
    display: none;
}